
<h3>Order Information:</h3>

<% @order.shoes.each do |order_shoe| %>
  <div class="well">
  <h3>Shoe:</h3>
  <%= order_shoe.brand %>

  <h3>Price:</h3>
  <%= order_shoe.price %>

  <h3>Description:</h3>
  <%= order_shoe.description %>


  </div>
<% end %>


<h3>Subtotal: $<%= @order.subtotal %></h3>

<h3>Tax: $<%= @order.tax %></h3>

<p>___________________________</p>

<h3>Total: $<%= @order.total %></h3>


<a href="/" class="btn btn-default">Home</a>


