<h1>Here is your Shoe:</h1>

  <h3>Brand:</h3>
  <p><%= @shoe.brand %></p>
  <h3>Categories:</h3>
  <ul>
  <% @shoe.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
  <h3>Price:</h3>
    <% if @shoe.discounted? %>
      <p>Discounted Item!!!</p>
      <p class="discount-item">Price: $<%= @shoe.price %></p>
    <% else %>
      <p>Price: $<%= @shoe.price %></p>
    <% end %>
  <h3>Description:</h3>
  <p><%= @shoe.description %></p>
  <h3>Made By:</h3>
  <p><%= @shoe.supplier.name %></p></a>
  <h3>Images:</h3>
  <p><% @shoe.images.each do |image| %></p>
    <p><img src="<%= image.url %>" alt="" class="image-responsive"></p>
  <% end %>
<p></p>
<% if current_user && current_user.admin %>
  <%= form_tag "/carted_shoes", method: :post do %>
    <div>
      <label for="quantity">Quantity:</label>
      <input type="text" name="quantity">
    </div>
    <div>
      <input type="hidden" value="<%= @shoe.id %>" name="shoe_id">
    </div>
      <input type="submit" value="Add To Cart">
    <% end %>
  <p></p>
<% end %>
<p></p>
<a href="/shoes" class="btn btn-default">Back to All Shoes</a>
<p></p>
<% if current_user && current_user.admin %>
  <%= form_tag "/shoes/#{@shoe.id}", method: :delete do %>
  <input type="submit" value="Remove Shoe">
  <% end %>

  <p></p>
  <a href="/shoes/<%= @shoe.id %>/edit" class="btn btn-default">Update Shoe</a>

<% end %>
