<h1>Here is your Shoe:</h1>

  <h3>Brand:</h3>
  <p><%= @shoe.brand %></p></a>
  <h3>Price:</h3>
    <% if @shoe.discounted? %>
      <p>Discounted Item!!!</p>
      <p class="discount-item">Price: $<%= @shoe.price %></p>
    <% else %>
      <p>Price: $<%= @shoe.price %></p>
    <% end %>
  <h3>Image:</h3>
  <p><img src="<%= @shoe.image %>" alt=""></p>
  <h3>Description:</h3>
  <p><%= @shoe.description %></p>
  <h3>Made By:</h3>
  <p><%= @shoe.supplier.name %></p></a>

<a href="/shoes" class="btn btn-default">Back to All Shoes</a>
<p></p>

<%= form_tag "/shoes/#{@shoe.id}", method: :delete do %>
<input type="submit" value="Remove Shoe">
<% end %>
<p></p>
<a href="/shoes/<%= @shoe.id %>/edit" class="btn btn-default">Update Shoe</a>
